<%- include('./partials/header.ejs') %>
<body>
    <h1>Usuario</h1>
    <p> Nome: <%= usuario.name %>  </p>
    <p> Sobrenome: <%= usuario.lastname %>  </p>
    <p> E-mail: <%= usuario.email %>  </p>
    <p> Núm. Telefone: <%= usuario.phone %>  </p>
    <p> Data Aniversário: <%= usuario.happyday %>  </p>
</body>
<%- include ('./partials/footer.ejs') %>